<app-shared-card-container titulo="404 - Não encontrado!">
  <div class="row align-items-center  justify-content-center">
    <div class="col-6">
      <div class="centralizado ">
          <img src="assets/svg/error-404.svg" alt="error-404">
      </div>
    </div>
    <div class="col-6">
      <p class="msg-principal"> A rota ou recurso desejado não existe ou foi removido!</p>
      <p class="msg-secundaria">Utilize a barra de navegação para acessar os recursos disponíveis.</p>
    </div>
  </div>


</app-shared-card-container>
