<app-shared-card-container [titulo]="titulo">
  <form [formGroup]="form" on>

  <h6>Dados Criança</h6>
  <hr>

    <div class="form-row">
      <div class="form-group col-12">
        <span class="ui-float-label">
          <input class="largura-max" id="nomeCrianca" type="text" pInputText [formControl]="form.get('nomeCrianca')">
          <label for="nomeCrianca">Nome da Criança</label>
        </span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-12 col-md-4">
        <span class="ui-float-label ">
          <p-calendar id="dataNascimento"  formControlName="dataNascimento" dateFormat="dd/mm/yy"  required="true">
          </p-calendar>
          <label for="dataNascimento" >Data de Nascimento</label>
        </span>
      </div>
      <div class="form-group col-sm-12 col-md">
        <div  class="form-check form-check-inline">
          <label id="label-sexo">Sexo da Criança: </label>
        </div>
        <div class="form-check form-check-inline">
          <p-radioButton name="sexo" value="F" label="Feminino" formControlName="sexo"></p-radioButton>
        </div>
        <div class="form-check form-check-inline">
          <p-radioButton name="sexo" value="M" label="Masculino" formControlName="sexo"></p-radioButton>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <span class="ui-float-label">
          <input class="largura-max" id="planoSaude" type="text" pInputText [formControl]="form.get('planoSaude.nome')">
          <label for="planoSaude">Plano de Saúde</label>
        </span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <span class="ui-float-label">
          <input class="largura-max" id="nomeResponsavel" type="text" pInputText
            [formControl]="form.get('nomeResponsavel')">
          <label for="nomeResponsavel">Nome do Responsável</label>
        </span>
      </div>
    </div>

    <h6>Endereço</h6>
    <hr>

    <div class="form-row">
      <div class="form-group col-sm-12 col-md-4">
        <span class="ui-float-label">
          <input class="largura-max" id="rua" type="text" pInputText
            [formControl]="form.get('endereco.rua')">
          <label for="rua">Rua</label>
        </span>
      </div>
      <div class="form-group col-sm-12 col-md-4">
        <span class="ui-float-label">
          <input class="largura-max" id="numero" type="text" pInputText
            [formControl]="form.get('endereco.numero')">
          <label for="numero">Número</label>
        </span>
      </div>
      <div class="form-group col-sm-12 col-md-4">
        <span class="ui-float-label">
          <input class="largura-max" id="bairro" type="text" pInputText
            [formControl]="form.get('endereco.bairro')">
          <label for="bairro">Bairro</label>
        </span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-12 col-md-4">
        <span class="ui-float-label">
          <input class="largura-max" id="cidade" type="text" pInputText
            [formControl]="form.get('endereco.cidade')">
          <label for="cidade">Cidade</label>
        </span>
      </div>
      <div class="form-group col-sm-12 col-md-4">
        <span class="ui-float-label">
          <input class="largura-max" id="estado" type="text" pInputText
            [formControl]="form.get('endereco.estado')">
          <label for="estado">Estado</label>
        </span>
      </div>
      <div class="form-group col-sm-12 col-md-4">
        <span class="ui-float-label">
          <input class="largura-max" id="cep" type="text" pInputText
            [formControl]="form.get('endereco.cep')">
          <label for="cep">CEP</label>
        </span>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
          <span class="ui-float-label">
            <input class="largura-max" id="complemento" type="text" pInputText
              [formControl]="form.get('endereco.complemento')">
            <label for="complemento">Complemento</label>
          </span>
        </div>
        </div>

    <h6>Contatos</h6>
    <hr>

    <app-telefones [telefonesFormArray]="form.get('telefones')" [paciente]="paciente"></app-telefones>

  </form>
  <hr>

  <div class="botoes">

    <button pButton type="button" label="Submit" (click)="submit()"></button>
    <button pButton type="button" label="Cancelar" (click)="cancelar()" class="ui-button-danger"></button>
  </div>

</app-shared-card-container>
